.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

include/*
boost_build_mingw/*

build*/
out*/
bin*/
obj*/
dist*/
cmake-build-*/
Debug*/
Release*/
RelWithDebInfo*/
MinSizeRel*/

CMakeFiles/
CMakeCache.txt
cmake_install.cmake
compile_commands.json
CTestTestfile.cmake
Makefile

autom4te.cache/
aclocal.m4
config.log
config.status
configure
depcomp
install-sh
missing
stamp-h1

*.o
*.obj
*.lo
*.la
*.a
*.lib
*.so
*.so.*
*.dylib
*.dll
*.exe
*.out
*.app
*.pdb
*.ilk
*.exp
*.map
*.d
*.depend
*.deps
*.pch

bin.v2/
b